{% extends "components/base.html" %}


{% block content %}
<h2>Manage Tables and its fieldset</h2>


<div class="button-container">
    <form method="POST" action="{{ url_for('create_table') }}">
        <input type="text" name="table_name" class="form-control" placeholder="Enter table name" required>
        <button type="submit" class="create">Create Table</button>
    </form>
</div>


<div class="button-container">
    <form method="POST" action="{{ url_for('drop_table') }}">
        <input type="text" name="delete_table_name" class="form-control" placeholder="Enter table name to delete" required>
        <button action="{{ url_for('drop_table') }}" type="submit" class="delete">Delete Table</button>
</form>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Table name</th>
                <th>Manage Columns</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table }}</td>
                <td>
                    <a href="{{ url_for('manage_table', table_name=table) }}" class="btn btn-primary">Manage</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}