<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }}</title>
    </head>
    <body>
            <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        {% include "components/navbar.html" %}


        {% block content %}
            This content from 
        {% endblock %}
    </body>
</html>